.DS_Store
Thumbs.db

# java.gitignore
*.class

# Eclipse.gitignore
.project
.classpath
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
local.properties
.settings/
*.springBeans

# Build directories
build/
target/

